* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --gray: rgb(132, 130, 130);
  --gray-darker: rgb(85, 84, 84);
  --white-darker: rgb(230, 225, 225);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightblue;
}

.container {
  max-width: 300px;
  margin: 50px auto;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  overflow: hidden;
}

.input {
  background-color: var(--white-darker);
  height: 180px;
  position: relative;
}

div.result {
  position: absolute;
  bottom: 10px;
  right: 20px;
  font-size: 20px;
}

.font-lg {
  font-size: 50px;
}

.calculate {
  display: flex;
  margin-top: 2px;
}

.calculate-wrap {
  flex-basis: 0;
  flex-grow: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2px;
}

.btn-num {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--gray);
  border-radius: 5px;
  cursor: pointer;
}

.count-wrap {
  flex-basis: 0;
  flex-grow: 1;
  display: grid;
  margin-left: 2px;
  grid-template-rows: repeat(5, 1fr);
  gap: 2px;
}

.operator {
  background-color: var(--gray);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
}

@media (min-width: 576px) {
  .container {
    max-width: 500px;
  }
  .btn-num:hover,
  .operator:hover {
    background-color: var(--gray-darker);
  }
}
